 * {
     margin: 0;
     padding: 0;
     /* overflow-x: hidden; */
     box-sizing: border-box;
     font-family: "Inika", serif;

 }

 body {
     background-color: white;
 }

 /* nav */

 nav {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 100px;
     height: 330px;
     background-color: #DC9AF2;
     border-radius: 10px;
     box-shadow: 0px 0px 10px 0px;

 }

 .brand img {
     width: 300px;
 }

 .Navsearch {
     display: flex;
     justify-content: space-between;
     align-items: center;
     border: 1px solid black;
     padding: 25px;
     font-size: 34px;
     width: 1200px;
     border-radius: 10px;
     background-color: white;
     color: rgb(100, 98, 98);
 }

 .searchFlx {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 50px;
     flex-wrap: wrap;
 }

 .registerFlx {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 50px;

 }

 .register {
     background-color: #13B82E;
     font-size: 30px;
     padding: 23px 45px;
     font-weight: 900;
     border-radius: 10px;
     cursor: pointer;

 }

 .navLink {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 100px;
     margin-top: 70px;
     margin-left: 180px;
 }

 .navLink a {
     text-decoration: none;
     color: black;
     font-size: 40px;
     font-weight: 700;

 }

 /* ---------notification--------------- */

 .notification {
     font-size: 25px;
     width: 1050px;
     background-color: #e9c9f3;
     line-height: 2rem;
     position: absolute;
     z-index: 99;
     top: 330px;
     right: 10px;
     padding: 20px;
     display: none;
 }

 .notiFlx {
     display: flex;
     justify-content: space-between;
     padding: 20px;
 }




 /* ------------STartUp Image------------------ */

 .startUp img {
     width: 100%;
     object-fit: fill;
     position: relative;
 }

 .letFlx {
     display: flex;
     /* justify-content: center; */
     align-items: center;
     gap: 1000px;
     position: absolute;
     margin-left: 200px;
     top: 1430px;
 }

 .letStart {
     background-color: rgb(232, 152, 2);
     font-size: 25px;
     padding: 17px 40px;
     font-weight: 700;
     border-radius: 10px;
 }

 .social {
     display: flex;
     gap: 70px;
 }



 /* -------------------Home page---------------------- */

 /* <!-- ------------Choose------------------------- --> */

 .choose {
     font-size: 60px;
     text-align: center;
     margin-top: 30px;
 }

 .chooseImg {
     display: flex;
     justify-content: center;
     gap: 50px;
     margin-top: 30px;
 }

 .chooseImg img {

     width: 430px;
     height: 400px;
     background-color: rgb(250, 238, 240);
     border-radius: 10px;
     box-shadow: 0px 8px 10px -5px rgba(0.3, 0.2, 0.5, 0.3);
 }

 .chooseContent {
     font-size: 55px;
     margin-left: 150px;

 }

 .manetic p {
     font-size: 30px;
     text-align: center;
     margin-top: 20px;
 }

 .productContext {
     font-size: 70px;
     font-weight: 700;
     text-align: center;
     margin-bottom: 50px;
 }

 .watchFlx {
     display: flex;
     align-items: center;
 }

 .watchFlx img {
     width: 900px;
     position: relative;
 }

 .watchContent {
     background-color: #ff7a22;
     padding: 30px;
     width: 1400px;
     height: 350px;
     left: 500px;
     position: absolute;


     clip-path: polygon(15% 0%,
             /* top slope */
             100% 0%,
             100% 100%,
             15% 100%,
             /* bottom slope */
             0% 50%
             /* center left point */
         );

     /* Optional: shadow like in your image */
     box-shadow: 0 0 20px rgba(0, 0, 0.5, 0.5);
 }

 .watchContent h3 {
     color: white;
     font-size: 50px;
     text-align: center;

 }

 .watchContent p {
     font-size: 35px;
     float: right;

 }




 /* ------------------footer---------------------------- */

 .footer {
     background-color: #dbf836;
     padding: 20px;
     height: 400px;
 }

 .footerFlx {
     display: flex;
     justify-content: space-evenly;
     /* align-items: center; */

 }

 .footContent p {
     font-size: 25px;
     line-height: 4rem;
 }

 .contact {
     display: flex;
     justify-content: flex-start;
     align-items: center;
     gap: 20px;
 }

 .contact img {
     width: 30px;
     height: 30px;

 }

 .footSocial {
     display: flex;
     gap: 50px;
     float: right;
     margin-right: 100px;
 }






 /* -------------------About page---------------------- */

 .aboutFlx {
     display: flex;
     justify-content: space-around;
     gap: 50px;
     background-color: #DC9AF2;
     padding: 35px;
     width: 80%;
     margin: auto;
 }

 .aboutFlx:nth-of-type(2) {
     background-color: #f79553;
 }

 .aboutFlx:nth-of-type(3) {
     background-color: #e0f94e;
 }

 .aboutFlx img {
     width: 550px;

 }

 .abtContent h3 {
     font-size: 40px;
     text-align: center;
 }

 .abtContent p {
     font-size: 35px;
 }




 /* ----------------Product-------------------- */

 .categories {
     font-size: 75px;
     margin-left: 80px;
 }



 /* ----------------Service page -------------------- */

 .service {
     font-size: 75px;
     margin-left: 80px;
     text-align: center;
 }

 .service p {
     font-size: 50px;
 }


 .serviceFlx {
     display: flex;
     justify-content: center;
     gap: 50px;
     background-color: #DC9AF2;
     padding: 25px;
     width: 60%;
     margin: auto;
     border-radius: 20px;
     margin-bottom: 80px;
     box-shadow: 0 8px 15px rgba(0, 0, 0, 0.25);
 }

 .serviceFlx img {
     width: 300px;
     height: 340px;
 }



 .serviceContent h3 {
     font-size: 40px;
     text-align: center;
 }

 .serviceContent p {
     font-size: 30px;
     line-height: 3rem;
 }


 .serviceWrapper .serviceFlx:nth-child(2) {
     background-color: #fb914b;
 }

 .serviceWrapper .serviceFlx:nth-child(3) {
     background-color: #21A8A2;
 }

 .serviceWrapper .serviceFlx:nth-child(4) {
     background-color: pink;
 }




 /* ----------------Blogs page -------------------- */

 .blogs {
     font-size: 50px;
     margin-left: 80px;
 }

 .blogsFlx {
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 50px;
     background-color: #21A8A2;
     border-radius: 10px;
     padding: 10px;
     width: 90%;
     margin: auto;
 }


 .blogsFlx img {
     width: 500px;

 }

 .blogsContent h3 {
     font-size: 40px;
     text-align: center;
     font-weight: bolder;
 }

 .blogsContent p {
     font-size: 30px;
 }

 span {
     color: white;
     text-align: center;
     font-size: 25px;
 }





 /* -----------products----------------- */

 .productFlx {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     gap: 230px;
     margin-left: 100px;
 }

 /* ------------------------- */

 .products {
     width: 380px;

 }

 .productImg {
     width: 420px;
 }

 .productPrice {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     gap: 140px;

     font-size: 30px;
 }

 .buynowFlx {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     gap: 40px;

     font-size: 30px;
     margin-top: 20px;
 }

 .buy {
     background-color: #13B82E;
     color: white;
     padding: 10px 30px;
     border-radius: 10px;
 }

 .star {
     width: 130px;

 }




 /* <!-- -------------All Brand------------------- --> */

 .allBrand {
     font-size: 50px;
     text-align: center;
 }

 .brands {
     font-size: 60px;
     margin-left: 150px;
     margin-bottom: 70px;
 }

 .brandFlx {
     display: flex;
     justify-content: flex-start;
     align-items: center;
     flex-wrap: wrap;
     gap: 290px;
     margin-left: 350px;
     margin-bottom: 120px;
 }

 .brandFlx img {
     width: 600px;
 }





 /* <!-- ----------------------Vivo------------------------- --> */

 .mobileBrandFlx {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     gap: 50px;
 }

 .mobileBrand {
     width: 450px;
     height: 520px;
     background-color: rgb(218, 216, 216);
     box-shadow: 0 8px 10px rgba(0, 0, 0, 0.25);
     border-radius: 20px;
 }

 .mobBrand {
     width: 330px;
     display: block;
     margin: auto;
     padding: 20px;
 }




 /* ---Realme Img-------- */

 .mobileBrand1 {
     width: 450px;
     height: 520px;
     background-color: rgb(249, 233, 250);
     box-shadow: 0 8px 10px rgba(0, 0, 0, 0.25);
     border-radius: 20px;
 }

 .brandPriceFlx1 {
     margin-left: 30px;
     margin-bottom: 30px;
     font-size: 30px;
 }

 .mobBrand1 {
     width: 400px;
     display: block;
     margin: auto;
     padding: 20px;
 }




 /* ----------- */

 .brandPriceFlx {
     display: flex;
     justify-content: space-around;
     font-size: 30px;
     gap: 40px;
 }

 .cartFlx {
     display: flex;
     justify-content: space-around;
     align-items: center;
 }

 .addCart {
     font-size: 25px;
     background-color: rgb(242, 179, 17);
     text-align: center;
     padding: 10px;
     border-radius: 10px;
     font-weight: 600;
     height: 50px;
     text-decoration: none;
     color: black;
 }

 .price {
     font-size: 30px;
     text-align: center;
     margin-bottom: 10px;
 }

 .colors {
     display: flex;
     align-items: center;
     gap: 5px;
 }

 .colors img {
     width: 32px;
 }





 /* -------------Refridgerator/WashingMachine------------------- */

 .allBrands {
     font-size: 50px;
     text-align: center;
 }

 .fridgeFlx {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 50px;

 }

 .fridgeFlx a {
     text-decoration: none;
     color: black;

 }

 .brands1 {
     font-size: 50px;
     margin-left: 300px;
     margin-bottom: 70px;
 }

 #fridge {
     border: 1px solid black;
     padding: 10px;
     border-radius: 10px;
     box-shadow: 0px 0px 10px 0px;
     background-color: #bd66f7;

 }

 .mobileBrandFlxWashing {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     gap: 300px;
 }




 /* --------------Contact----------------- */

 .form {
     display: flex;
     justify-content: center;
     gap: 50px;
 }

 input {
     width: 700px;
     height: 50px;
     margin-bottom: 30px;
     padding: 50px;
     border-radius: 10px;
     background-color: rgb(235, 229, 229);
     border: none;

 }

 input::placeholder {
     color: black;
     font-weight: 800;
     font-size: 20px;
 }

 textarea {
     width: 700px;
     height: 250px;
     margin-bottom: 30px;
     padding: 20px;
     border-radius: 10px;
     background-color: rgb(235, 229, 229);
     border: none;
     font-weight: 800;
     font-size: 20px;


 }

 .mediaSupport {
     text-align: center;
     font-size: 20px;
 }

 .socialMedia {
     display: flex;
     justify-content: center;
     gap: 30px;
 }





 /* --------Login--------------------- */

 input[type="text1"] {
     width: 500px;
     height: 50px;
     margin-bottom: 30px;
     padding: 40px;
     border-radius: 10px;
     background-color: rgb(235, 229, 229);
     border: none;
 }

 .login {
     text-align: center;
 }





 /* watch categories */

 .watchCategoriesFlx {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     gap: 200px;
     margin-top: 100px;
 }

 .watchCategoriesFlx img {
     width: 400px;
 }





 /* watchfeatures */

 .watchfeaturesFlx {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     gap: 70px;
     margin-top: 100px;
 }

 .watchfeaturesFlx img {
     width: 300px;
 }

 .watchfeaturesFlx p {
     text-align: start;
     font-size: 30px;
     margin-left: 40px;
     font-weight: 900;
 }




 /* .watchProductFlx */

 .watchProductFlx {
     display: flex;
     justify-content: center;
     align-items: end;
     gap: 40px;
 }

 .watchProductFlx img {
     width: 600px;

 }

 .watchProductFlx p {
     font-size: 35px;
 }

 .features {
     text-align: center;
     font-size: 50px;

 }

 .wpFlx {
     display: flex;
     justify-content: flex-start;
     align-items: center;
     gap: 70px;

     width: 80%;
     height: 30%;
     background-color: rgb(250, 239, 224);
     border-radius: 10px;
     margin: auto;
 }

 .wpFlx img {
     width: 450px;
     margin-left: -50px;
 }

 .wpFlx p {
     font-size: 35px;
 }






 /* ----------delevery page-------------- */

 .deleveryflx {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 70px;
     font-size: 50px;
     text-align: center;
 }

 .deleveryflx img {
     width: 700px;
 }

 .order {
     font-size: 40px;
     margin-left: 200px;
 }

 .orderFlx {
     display: flex;
     justify-content: center;
     align-items: end;
     gap: 50px;
     font-size: 30px;
 }

 .scooterFlx {
     display: flex;
     flex-direction: column;
 }

 .home {
     font-size: 40px;
     text-decoration: none;
     width: 250px;
     background-color: #21A8A2;
     padding: 10px;
     color: white;
     border-radius: 10px;
     text-align: center;
     display: block;
     margin: auto;

 }





 /* payment */

 .payment {
     text-align: center;
 }

 .atm {
     width: 700px;
     margin-bottom: 30px;

 }

 .continue {
     font-size: 40px;
     text-align: center;
     width: 700px;
     background-color: #13B82E;
     text-decoration: none;
     padding: 20px;
     border-radius: 10px;
     color: white;
     display: block;
     margin: auto;
 }





 /* payment Method */

 .forms {
     text-align: center;
 }

 .paymentMethod {
     font-size: 30px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .paymentMethod p {
     margin-bottom: 20px;
 }

 .upiFlx {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .gpay {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }



 /* <!-- -----------Cart Page--------------- --> */

 .cartImgFlx {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 200px;
 }


 .cartCard {
     width: 500px;
     border: 1px solid black;
     padding: 20px;
     border-radius: 10px;
     margin-top: 20px;
 }

 .head {
     font-size: 30px;
 }

 .red {
     color: red;
     font-size: 23px;
     margin-bottom: 20px;
     margin-top: 10px;
 }

 .starBuyFlx {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 90px;
 }

 .buys {
     background-color: #13B82E;
     color: white;
     padding: 12px 50px;
     border-radius: 10px;
     font-size: 20px;
 }

 .cartCardFlx {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 30px;
 }

 .oppoFlx {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 500px;
     /* margin-bottom: 20px; */


 }

 .oppo {
     font-size: 35px;
 }

 .pr {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 50px;

 }

 .close-btn {
     font-size: 30px;
     text-decoration: line-through;
     text-decoration-color: red;
 }

 .reds {
     color: red;
     font-size: 30px;
     margin-bottom: 20px;
     margin-top: 10px;
 }

 .TotalFlx {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 830px;
 }

 .green {
     color: #13B82E;
     font-size: 30px;
 }

 .continue {
     font-size: 40px;
     text-align: center;
     width: 700px;
     background-color: #13B82E;
     text-decoration: none;
     padding: 20px;
     border-radius: 10px;
     color: white;
     display: block;
     margin: auto;
 }



